* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
}
/* Index Html */
header{
background-color: #5b4fe8;
padding: 15px 30px;
display: flex;
align-items: center;
}
header a{
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
}
.headernav{
    margin-left: 200px;
}
.headernav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.headernav li{
    margin-right: 25px;
}
.headernav a{
    display: flex;
    color: white;
    margin-right: 20px;
    align-items: center;
}
.sellit{
    color: white;
    font-size: 40px;
    margin-left: 10px;
}
.formsearch{
    margin-left: auto;
}
.formsearch input{
    width: 220px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid transparent;
}
.formsearch button{
    padding: 10px;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #5b4fe8;
    border: 1px solid lightgray;
}
main{
    display: flex;
    padding: 25px 30px;
    max-width: 1600px;
}
aside{
    width: 280px;
    background-color:gainsboro;
    margin-right: 30px;
    margin-left: 30px;
}
aside h2{
    color:#06004c;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 10px;
}
.asidenav li{
    margin-bottom: 10px;
    padding: 20px;
}
.asidenav a{
    color:grey;
}
.slogan{
    margin-bottom: 30px;
    padding: 40px;
    color: white;
    border-radius: 10px;
    background-image: url("../img/slogan.png");
    background-size: cover;
    background-position: center;
}
.slogan h1{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.slogan p{
    font-size: 18px;
    margin-bottom: 15px;
}
.slogan a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #5b40df;
    color: white;
}
.contenedor{
    width: 80%;
}
.aleatorios, .masvendidos{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aleatorios h2, .masvendidos h2{
    color:#06004c;
    font-size: 28px;
    margin-bottom: 15px;
}
.aleatorios img, .masvendidos img{
    background-color: lightgray;
}
.producto{
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid;
    
    
}
.producto img{
    width: 100%;
    height:160px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.producto h3{
    color: #06004c;
    font-size: 18px;
}
.descripcion{
    font-size: 14px;
}
.precio{    
    font-size: 17px;
}
.producto a{
    display: block;
    color: white;
    background-color: #4b35b8;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
footer{
    background-color: #4b35b8;
    color:white;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
footer p{
    margin: 15px;
    justify-content: center;
}
.login, .register{
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: white;
    flex-direction: column;
}
.formulario-login, .formulario-register{
    border: 1px solid black;
    padding: 30px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    background-color: white;
}
.main-register{
    display: flex;
    justify-items: center;
}
.formulario {
    margin-bottom: 15px;
    text-align: left;
}

.formulario{
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    color: black;
}
.boton-login {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    font-weight: bold;
}
.masvendidoscat{
        color:#06004c;
    font-size: 28px;
}
.productcat{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zapatillasx{
    width: 50%;
    height: 600px;
    padding: 12px;
    margin: 30px;
}
.preciox{
    color: black;
    font-size: 22px;
    font-weight: bold;
   
}

.titulozapas{
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.resutladossearch{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
    
}
.precio{
    color: black;
    font-weight: bold;
}

.marcax{

}
.infoproductox{
    
}

.rating{
    font-weight: bold;
}

.fecha{
    font-weight: bold ;
}

.review{
    margin: 30px;
    padding: 10px;
    border: double;
    border-color:#4b35b8 ;
}