* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* Index Html */
header{
background-color: #5b4fe8;
padding: 15px 30px;
display: flex;
align-items: center;
}
header a{
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
}
.headernav{
    margin-left: 40px;
}
.headernav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.headernav li{
    margin-right: 25px;
}
.headernav a{
    display: flex;
    color: white;
    margin-right: 20px;
    align-items: center;
}
.sellit{
    color: white;
    font-size: 40px;
}
.formsearch{
    margin-left: auto;
}
.formsearch input{
    width: 220px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.formsearch button{
    padding: 10px;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #5b4fe8;
}
main{
    display: flex;
    padding: 30px;
}
aside{
    width:100px;
    background-color:gainsboro;
    margin-right: 30px;
}
.asidenav h2{
    color:#06004c;
    margin-right: 30px;
}
.asidenav ul{
    list-style: none;
    padding: 0;
}
.asidenav li{
    margin-bottom: 10px;
    padding: 20px;
}
.asidenav a{
    color:grey;
}
.slogan{
    margin-bottom: 30px;
    padding: 40px;
    background-color: #211b3d;
    color: white;
}
.slogan h1{
    font-size: 35px;
    margin-top: 0px;
}
.slogan p{
    font-size: 18px;
}
.slogan a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #5b40df;
    color: white;
}
.contenedor{
    width: 80%;
}
.aleatorios, .masvendidos{
    margin-bottom: 40px;
}
.aleatorios h2, .masvendidos h2{
    color:#06004c;
    font-size: 28px;
}
.aleatorios img, .masvendidos img{
    background-color: lightgray;
}
.producto{
    display: inline-block;
    width: 200px;
    padding: 15px;
    margin: 10px;
    border-radius: 9px;
}
.producto img{
    width: 100%;
    height:160px;
}
.producto h3{
    color: #06004c;
    font-size: 18px;
}
.descripcion{
    font-size: 14px;
}
.precio{    
    font-size: 17px;
}
.producto a{
    display: block;
    color: white;
    background-color: #4b35b8;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
footer{
    background-color: #4b35b8;
    color:white;
    display: flex;
    padding: 20px;
    text-align: center;
}
footer p{
    margin: 5px;
}
.login{
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: white;
}
.formulario-login {
    border: 1px solid black;
    padding: 30px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    background-color: white;
}
.formulario {
    margin-bottom: 15px;
    text-align: left;
}

.formulario{
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    color: black;
}
.boton-login {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    font-weight: bold;
}
.no-cuenta{
    margin-top: 20px;
    color: black;
    text-decoration: underline;
}